
<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap pb-4 clearfix">

            <div class="row">

                <div class="col-md-4 col-sm-6 mb-0 mb-sm-4 mb-md-0">

                    <div class="widget clearfix">

                        <h4>About ACM</h4>

                        <p>We see a world where computing helps solve tomorrow’s problems – where we use our knowledge and skills to advance the profession and make a positive impact.</p>

                        <div style="background: url('images/world-map.png') no-repeat left center; background-size: auto 100%;">
                            <address>
                                <strong>Campus Headquarters:</strong><br>
                                1300 University Blvd<br>
                                Birmingham, AL 35233<br>
                            </address>
                            <!--<abbr title="Phone Number"><strong>Phone:</strong></abbr> (205) 639 6666<br>-->
                            <abbr title="Email Address"><strong>Email:</strong></abbr> uabacm@gmail.com
                        </div>

                    </div>

                </div>

                <div class="col-md-2 col-sm-6 mt-4 mt-sm-0">

                    <!--<div class="widget widget_links clearfix">

                        <h4>Support</h4>

                        <ul>
                            <li><a href="http://codex.wordpress.org/">Become a Sponsor</a></li>
                            <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Donate to ACM</a></li>
                            <li><a href="http://wordpress.org/extend/plugins/">Membership Info</a></li>
                            <li><a href="http://wordpress.org/support/">FAQ</a></li>
                        </ul>

                    </div>-->

                </div>

                <div class="col-md-2 col-sm-6 mt-4 mt-sm-0">

                    <!--<div class="widget widget_links clearfix">-->

                        <!--<h4>For Members</h4>-->

                        <!--<ul>-->
                            <!--<li><a href="#">Become a Sponsor</a></li>-->
                            <!--<li><a href="#">Donate to ACM</a></li>-->
                            <!--<li><a href="#">Membership Info</a></li>-->
                            <!--<li><a href="#">FAQ</a></li>-->
                        <!--</ul>-->

                    <!--</div>-->

                </div>

                <div class="col-md-4 col-6 mt-5 mt-sm-0">

                    <div class="widget subscribe-widget clearfix">
                        <h5><strong>Subscribe</strong> to Our Newsletter to get Important News &amp; Inside Scoops</h5>
                        <div class="widget-subscribe-form-result"></div>
                        <form id="newsletter-subscribe-form" class="nobottommargin">
                            <div class="input-group divcenter">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="icon-email2"></i></div>
                                </div>
                                <input id="newsletter-email" type="email" name="email" class="form-control required email" placeholder="Enter your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        <div class="row">

                            <div class="col-lg-6 clearfix bottommargin-sm">
                                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.facebook.com/UABACM"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                            </div>
                            <!--<div class="col-lg-6 clearfix">-->
                                <!--<a href="#" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">-->
                                    <!--<i class="icon-twitter"></i>-->
                                    <!--<i class="icon-twitter"></i>-->
                                <!--</a>-->
                                <!--<a href="#"><small style="display: block; margin-top: 3px;"><strong>Follow us</strong><br>on Twitter</small></a>-->
                            <!--</div>-->

                        </div>

                    </div>

                </div>

            </div>

        </div><!-- .footer-widgets-wrap end -->

        <div class="line line-sm m-0"></div>

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="nobg">

        <div class="container clearfix">

            <div class="col_half">
                Copyright &copy; 2018 All Rights Reserved by ACM at UAB<br>
            </div>

            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links clearfix">
                    <!--<a href="#">Home</a>/<a href="#">About Us</a>/<a href="#">Team</a>/<a href="#">Clients</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>-->
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

<script>
    $( "#newsletter-subscribe-form" ).submit(function( event ) {
        event.preventDefault()
        const email = document.getElementById('newsletter-email')

        if(!email.validity.valid) return

        API.subscribeToNewsletter(email.value)
                .then(res => {
                    swal(res.message)
                    email.value = ''
                })
                .catch(err => {
                    console.error(err)
                    swal('Error', err, 'error')
                })
    })
</script>