<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta name="author" content="UAB ACM" />

    <link rel="icon" href="images/uabacm.logo.png">
    <title>UAB ACM</title>

    <!-- Stylesheets
    ============================================= -->
    {{> styles}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{> google_analytics}}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
        {{> top_bar}}

		<!-- Header
		============================================= -->
		{{> header_transparent}}
        <!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-angle">

			<!-- Slider Background Map
			============================================= -->
			<img class="img-map parallax" src="demos/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

			<!-- Slider Background Cloud
			============================================= -->
			<div class="cloud-wrap">
				<div class="c1"><div class="cloud"></div></div>
				<div class="c2"><div class="cloud"></div></div>
				<div class="c3"><div class="cloud"></div></div>
				<div class="c4"><div class="cloud"></div></div>
				<div class="c5"><div class="cloud"></div></div>
			</div>

			<!-- Slider Titiles
			============================================= -->
			<div class="vertical-middle ignore-header dark">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-5">
							<div class="slider-title">
								<h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Advancing Computing as a Science & Profession</h2>
								<p>We see a world where computing helps solve tomorrow’s problems – where we use our knowledge and skills to advance the profession and make a positive impact.</p>
							</div>
							<a href="#" class="button bg-white text-dark button-light button-rounded button-large color ml-0">Become a Member <i class="icon-line-arrow-right t600"></i></a>
						</div>
						<div class="col-md-5 d-none d-md-block">
							<img src="demos/hosting/images/3.png" alt="">
						</div>
					</div>
				</div>
			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="container clearfix">

					<!-- Slider negative Box
					============================================= -->
					<div class="row justify-content-center slider-box-wrap clearfix">
						<div class="col-10">
							<div class="slider-bottom-box">
								<div class="row align-items-center clearfix">
									<div class="col-lg-4 mb-3 mb-lg-0">
										<h2 class="mb-3 h1 t300">ACM Activities</h2>
										<p class="t400 text-muted mb-0">ACM is integrated in the Birmingham tech community, and strives to provide opportunity for professional development.</p>
                                        <a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Events Calendar <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Co-Working Seminars</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Tech Exchanges</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Hack Nights</li>
										</ul>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li class="pt-3 pt-lg-0"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Tech Workshops</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Hackathons</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Programming Contests</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Features Section
					============================================= -->
					<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
						<h2>Services for Students and Members</h2>
						<p>ACM works to be a resource to UAB students and ACM members by providing</p>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 clearfix">
						<div class="col-md-6">
							<div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
								<div class="fbox-media">
									<img src="images/interview.svg" style="width: 42px;" alt="">
								</div>
								<div class="fbox-desc">
									<h3 class="ls0">Mock Interviews</h3>
									<p class="mt-2">We'll help you get comfortable and prepared for your technical interview by conducting a series of phone and in-person mock interviews like you'd see at top tech companies</p>
								</div>
								<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Schedule a mock interview <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
							</div>

							<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
								<div class="fbox-media">
									<img src="images/resume-approved.svg" style="width: 42px;" alt="">
								</div>
								<div class="fbox-desc">
									<h3 class="ls0">Resume Reviewing</h3>
									<p class="mt-2">We have career professionals who can provide specialized help on technical resumes</p>
								</div>
								<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Get your resume reviewed <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
								<div class="fbox-media">
									<img src="images/job-search.svg" style="width: 42px;" alt="">
								</div>
								<div class="fbox-desc">
									<h3 class="ls0">Job Searching</h3>
									<p class="mt-2">
                                        ACM maintains a strong network of Birmingham business in search for talented CS students.
                                        We also stay up-to-date on scholarships and other opportunities for CS students in Birmingham
                                    </p>
								</div>
								<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Talk to a career advisor <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
							</div>

							<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
								<div class="fbox-media">
									<img src="images/question.svg" style="width: 42px;" alt="">
								</div>
								<div class="fbox-desc">
									<h3 class="ls0">Course Tutoring</h3>
									<p class="mt-2">Need help in a specific CS course? ACM works with UAB to provide high-quality tutoring for CS students</p>
								</div>
								<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Schedule tutoring session <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Bottom Section
				============================================= -->
				<div class="section bgcolor dark topmargin-lg mb-0">
					<div class="container">
						<div class="row center justify-content-center">
							<div class="col-md-8">
								<h2 class="t700 text-white mb-3">Make an Impact. Join ACM!</h2>
							</div>
							<div class="col-md-8">
								<a href="#" class="button center bg-white color button-light button-rounded button-large ml-0">Become a Member</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        {{> footer}}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
    {{> javascripts}}

</body>
</html>