{{#> layouts/base }}

    {{#*inline "content"}}

        {{> includes/top_bar}}
        {{> includes/header_opaque}}

        <!-- Page Title
		============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>CS Resume Reviews at UAB</h1>
                <span>Schedule a Resume Review</span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/home">Student Services</a></li>
                    <li class="breadcrumb-item active">Resume Review</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Postcontent
                    ============================================= -->
                    <div class="postcontent nobottommargin">

                        <h3>Request a Resume Review Session</h3>
                        <p>Submit this form, and we will get back to you ASAP!</p>

                        <div class="contact-widget">

                            <div class="contact-form-result"></div>

                            <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

                                <div class="form-process"></div>

                                <div class="col_one_third">
                                    <label for="template-contactform-name">Full Name <small>*</small></label>
                                    <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                                </div>

                                <div class="col_one_third">
                                    <label for="template-contactform-email">Blazer ID <small>*</small></label>
                                    <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                                </div>

                                <div class="clear"></div>

                                <div class="col_full">
                                    <label for="template-contactform-message">Questions, comments, concerns: <small>*</small></label>
                                    <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                                </div>

                                <div class="col_full hidden">
                                    <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                                </div>

                                <div class="col_full">
                                    <label for="exampleFormControlFile1">Your Current Resume</label>
                                    <input type="file" class="form-control-file" id="current_resume">
                                </div>

                                <div class="col_full">
                                    <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Submit Request</button>
                                </div>

                            </form>
                        </div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar col_last nobottommargin">

                        <address>
                            <strong>Headquarters:</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                        </address>
                        <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                        <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                        <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com

                    </div><!-- .sidebar end -->

                </div>

            </div>

        </section>

        {{> includes/footer}}

    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            jQuery(document).ready(function($){
                var $faqItems = $('#faqs .faq');
                if( window.location.hash != '' ) {
                    var getFaqFilterHash = window.location.hash;
                    var hashFaqFilter = getFaqFilterHash.split('#');
                    if( $faqItems.hasClass( hashFaqFilter[1] ) ) {
                        $('#portfolio-filter li').removeClass('activeFilter');
                        $( '[data-filter=".'+ hashFaqFilter[1] +'"]' ).parent('li').addClass('activeFilter');
                        var hashFaqSelector = '.' + hashFaqFilter[1];
                        $faqItems.css('display', 'none');
                        if( hashFaqSelector != 'all' ) {
                            $( hashFaqSelector ).fadeIn(500);
                        } else {
                            $faqItems.fadeIn(500);
                        }
                    }
                }

                $('#portfolio-filter a').click(function(){
                    $('#portfolio-filter li').removeClass('activeFilter');
                    $(this).parent('li').addClass('activeFilter');
                    var faqSelector = $(this).attr('data-filter');
                    $faqItems.css('display', 'none');
                    if( faqSelector != 'all' ) {
                        $( faqSelector ).fadeIn(500);
                    } else {
                        $faqItems.fadeIn(500);
                    }
                    return false;
                });
            });
        </script>
    {{/inline}}
	
{{/layouts/base}}