<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta name="author" content="UAB ACM" />

    <link rel="icon" href="images/uabacm.logo.png">
    <title>UAB ACM</title>

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />

    <!-- ACM Specific Stylesheet -->
    <link rel="stylesheet" href="css/colors.php?color=44aaac" type="text/css" /> <!-- Theme Color -->
    <link rel="stylesheet" href="demos/hosting/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="demos/hosting/hosting.css" type="text/css" />
    <!-- / -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{> includes/google_analytics}}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{{#> content }}
			TODO - Add some content
		{{/content}}

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/functions.js"></script>

    {{#> scripts }}
    {{/scripts}}

</body>
</html>